<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sepetim
  </a>
  <ul class="dropdown-menu">
    <li *ngFor="let item of cartItems">
      <a class="dropdown-item">
        <span class="badge text-bg-secondary">{{item.quantity}}</span>
        {{item.product.productName}}
        <span (click)="removeFromCart(item.product)" class="badge text-bg-secondary">Sil</span>
        <span (click)="decreaseFromCart(item.product)" class="badge text-bg-secondary">-</span>        
        <span (click)="increaseFromCart(item.product)" class="badge text-bg-secondary">+</span>        
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item">Sepete Git</a></li>
  </ul>
</li>